<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Book</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header text-center">
        <h1>Address Book</h1>
    </header>

    <div ng-app="addressBook" ng-controller="contactsController">

        <div class="buttons text-center">
            <button ng-click="showHideTable()">Table View</button>
            <button ng-click="showHideCards()">Card View</button>
        </div>

        <div class="container table-container text-center" ng-show="tableVisible">
            <label>Search: <input ng-model="searchText"></label>
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Company Name</th>
                      <th>Title</th>
                      <th>Address</th>
                      <th>City</th>
                      <th>Email</th>
                      <th>Postal Code</th>
                      <th>Country</th>
                      <th>Phone</th>
                      <th>Fax</th>
                    </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="info in contacts | filter:searchText">
                    <td>{{ info.CustomerID}}</td>
                    <td>{{ info.ContactName }}</td>
                    <td>{{ info.CompanyName }}</td>
                    <td>{{ info.ContactTitle }}</td>
                    <td>{{ info.Address }}</td>
                    <td>{{ info.City }}</td>
                    <td>{{ info.Email }}</td>
                    <td>{{ info.PostalCode }}</td>
                    <td>{{ info.Country }}</td>
                    <td>{{ info.Phone }}</td>
                    <td>{{ info.Fax }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

        <div class="container card-container text-center" ng-show="cardsVisible">
            <label>Search: <input ng-model="searchCards"></label>
            <div class="row">
            <div class="cards" ng-repeat="info in contacts | filter:searchCards">
                <img src="placeholder.png" class="card-img" alt="photo">
                <div class="card-body">
                  <h5 class="card-title">{{info.ContactName}}</h5>
                  <hr>
                    <p class="card-text"><b>Company Name:</b> {{ info.CompanyName }} </li>
                    <p class="card-text"><b>Title:</b> {{ info.ContactTitle }} </p>
                    <p class="card-text"><b>Address:</b> {{ info.Address }}</p>
                    <p class="card-text"><b>City:</b> {{ info.City }} </p>
                    <p class="card-text"><b>Email: </b> {{ info.Email }} </p>
                    <p class="card-text"><b>Postal Code: </b> {{ info.PostalCode }} </p>
                    <p class="card-text"><b>Country:</b> {{ info.Country }} </p>
                    <p class="card-text"><b>Phone: </b>{{ info.Phone }} </p>
                    <p class="card-text"><b>Fax: </b>{{ info.Fax }} </p>
                  </ul>
                </div>
            </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="xmlToJson.js"></script>
    <script src="scripts.js"></script>
</body>
</html>