body {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;

}

label {
    margin: 10px;
}

h1 {
    font-size: 100px;
    font-family: 'Libre Barcode 128 Text', cursive;
}

button {
    background-color: black;
    color: white;
    border-radius: 50px;
}

table {
    background-color: white;
    opacity: 80%;
}

.card {
    width: 15rem;
    height: auto;
    margin: 10px;
    opacity: 80%;
}

@media only screen and (max-width: 600px){
    .card {
        width: 14rem;
    }
}

.card-img-top{
    background-color: gray;
}

.card-text {
    margin: 0;
}