body {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;

}

label {
    margin: 10px;
}

h1 {
    font-size: 100px;
    font-family: 'Libre Barcode 128 Text', cursive;
}

button {
    background-color: black;
    color: white;
    border-radius: 50px;
}

table {
    background-color: white;
    opacity: 80%;
}

table th:hover{
    cursor: pointer;
   }
   
   .arrow-down:after,.arrow-up:after{
    content: ' ';
    position: relative;
    left: 2px;
    border: 8px solid transparent;
   }
   
   .arrow-down:after{
    top: 10px;
    border-top-color: black;
   }
   
   .arrow-up:after{
    bottom: 15px;
    border-bottom-color: black;
   }
   
   .arrow-down,.arrow-up{
    padding-right: 10px;
   }

.cards {
    display: flex;
    width: 40rem;
    height: auto;
    margin: 10px;
    opacity: 80%;
    background-color:white;
}

@media only screen and (max-width: 600px){
    .cards {
        width: 100%;
        display: inline-block
    }

    .card-img{
        float: none;
        width: 100%;
    }
}

.card-img{
    background-color: gray;
    float: left;
    width: 50%;
    height: auto;
}

.card-text {
    margin: 0;
}