body {}

label {
    margin: 10px;
}

h1 {
    font-size: 100px;
    font-family: 'Libre Barcode 128 Text', cursive;
}

button {
    background-color: black;
    color: white;
    border-radius: 50px;
}

.card {
    width: 15rem;
    height: auto;
    margin: 10px;
}

.card-img-top{
    background-color: gray;
}

.card-text {
    margin: 0;
}